.myPosts {
    &__area {
        display: block;
        width: 100%;
        height: 46px;
        margin: 10px 0;
    }
    &__title {
    }
    &__helpers {
        height: 20px;
        img {
            width: 25px;
            height: 25px;
            margin-right: 7px;
        }
    }
    &__btn {
        float: right;
        padding: 2px 4px;
        min-width: 80px;
    }
}
