.myPosts {
    &__helpers {
        height: 20px;
        img {
            width: 25px;
            height: 25px;
            margin-right: 7px;
        }
    }  
}
.form{
    &__area {
        display: block;
        box-sizing: border-box;
        resize: vertical;
        width: 100%;
        min-height: 46px;
        max-height: 100px;
        margin: 10px 0;  
    }
    &__btn {
        float: right;
        padding: 2px 4px;
        min-width: 80px;
    }
}