.post {
    margin: 15px;
    display: grid;
    grid-template-columns: 35px 1fr;
    white-space: pre-wrap;

    &__img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
    &__message {
        box-sizing: border-box;
        max-width: 100%;
        display: flex;
        align-items: center;
        margin: 0 15px;
    }
    &__like {
        display: block;
        grid-column: 1/3;
    }
}
