.app {
    min-height: 100vh;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-auto-rows: min-content;
    grid-template-areas:
        "header header "
        "nav main "
        "footer footer ";
    grid-gap: 1.5em;
}

header {
    width: 100%;
    grid-area: header;
}

main {
    grid-area: main;
}

nav {
    grid-area: nav;
}

footer {
    grid-area: footer;
}
