.app {
  display: grid;
  grid-template-columns: 20% 1fr 15%;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "header header header"
    "nav main ."
    "footer footer footer";
}

.header {
  grid-area: header;
  background-color: green;
}

.main {
  grid-area: main;
  background-color: rgb(55, 100, 98);
}

.nav {
  grid-area: nav;
  background-color: blue;
}

.footer {
  grid-area: footer;
  background-color: gray;
}
